* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Verdana, sans-serif;
  background-color: #FFD7E5;
}

h1, h2 {
  color: green;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;

  border-style: solid;
  border-color: #DB26DC;
  color: #00FFB9;
}

h2 {
  font-size: 25px;
}

p {
  text-align: justify;
}